<%-include('partials/adminNav')-%>
<div class="userAdmin">
    <% if(deposit.length == 0) { %>
        <h2>🌚🌚 Nothing To See Here... <a href="/">Head back home</a></h2>
    <% } else { %>
        <div class="user">
            <h2>Deposit Details:</h2>
            <div class="detail"><p>Amount: </p><h3>$<%=deposit.amount%></h3></div>
            <div class="detail"><p>Plan: </p><h3><%=deposit.plan%></h3></div>
            <div class="detail"><p>Deposited By: </p> <a href='/admin/<%=user._id%>'><%=user.email%></a></div>
            <div class="detail"><p>Deposit Status: </p><h3><%=deposit.status%></h3></div>
            <div class="detail"><p>Start Date: </p><h3><%=deposit.startDate%></h3></div>
            <div class="detail"><p>Expected End Date: </p><h3><%=deposit.endDate%></h3></div>
            <div class="detail buttons">
                <a href="/edit-deposit/<%=deposit._id%>"><i class="fa fa-pencil-square-o"></i></a>
                <a href="#" id="delete"><i class="fa fa-trash"></i></a>
            </div>
            <form action="/delete-deposit" method="post" class="detail popUp">
                <input type="hidden" name="id" value="<%=deposit._id%>">
                <h3>Delete <%=user.email%>'s Deposit?</h3>
                <p>Are you sure about this?</p>
                <div class="buttons">
                    <a href="#" id="cancel">Cancel</a>
                    <button type="submit">Yes</button>
                </div>
            </form>
        </div>
    <% } %>
</div>
<script>
    const deleteBtn = document.querySelector('#delete');
    const cancelBtn = document.querySelector('#cancel');
    const user = document.querySelector('.user');
    deleteBtn.addEventListener('click', ()=> {
        user.classList.add('pop');
    });

    cancelBtn.addEventListener('click', ()=> {
        user.classList.remove('pop');
    });
</script>
<%-include('partials/dashFooter')-%>