<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="X-profit, your pathway to success. A public trading company that boldly gains the trust of investors from around the world! Our professional and customer-oriented team is ready to make you an amazing offer of cryptocurrency investments">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Xprofit || Doorway To Success</title>
</head>
<body>
    <div class="form actionForm">
        <div class="top">
            <img src="images/logo.png" alt="logo">
            <div class="message">
                <i class="fa fa-key" aria-hidden="true"></i>
                <p><%=message%></p>
            </div>
        </div>
        <main>
            <form action="<%=route%>" class="otpForm" method="post">
                <div class="input">
                    <label for="password">OTP</label>
                    <input type="number" name="otp" id="password" placeholder="Input OTP" required>
                    <input type="hidden" name="email" value="<%=email%>">
                </div>
                <button type="submit">Submit</button>
            </form>
    
            <form action="<%=resendRoute%>" method="post">
                    <input type="hidden" name="email" value="<%=email%>">
                    <h5 style="text-align: center;">Didn't get an email? Check your spam folder or <button type="submit" class="resend">Send again</button></h5>
            </form>
            </div>
        </main>
</body>
</html>