<%-include('partials/dashNav')-%>
<div class="userAdmin">
    <% if(userDetails.length = 0) { %>
        <h2>🌚🌚 Nothing To See Here... <a href="/">Head back home</a></h2>
        <% } else { %>
            <div class="user">
                <h2>Account Details</h2>
            <div class="detail"><p>Referral Link:</p> <h3>https://xprofitinvestment.ltd/<%=userDetails._id%></h3></div>
            <div class="detail"><p>Transaction Id:</p> <h3><%=userDetails._id%></h3></div>
            <div class="detail"><p>First Name:</p> <h3><%=userDetails.firstName%></h3></div>
            <div class="detail"><p>Last Name:</p> <h3><%=userDetails.lastName%></h3></div>
            <div class="detail"><p>User Name:</p> <h3><%=userDetails.userName%></h3></div>
            <div class="detail"><p>Email:</p> <h3><%=userDetails.email%></h3></div>
            <div class="detail"><p>Referrred By:</p> <a href='/<%=referrer._id%>'><%=referrer.email%></a></div>
            <div class="detail buttons">
                <a href="/edit-account/<%=userDetails._id%>"><i class="fa fa-pencil-square-o"></i></a>
                <a id="delete" href="#"><i class="fa fa-trash"></i></a>
            </div>
            <form action="/account/<%=userDetails._id%>" method="post" class="detail popUp">
                <input type="hidden" name="id" value="<%=userDetails._id%>">
                <h3>Delete Your Account?</h3>
                <p>Are you sure about this?</p>
                <div class="buttons">
                    <a href="#" id="cancel">Cancel</a>
                    <button type="submit">Yes</button>
                </div>
            </form>

            <div class="detail popUpLogout">
                <h3>Logout</h3>
                <p>Are you want to logout?</p>
                <div class="buttons">
                    <a href="#" id="cancelLogout">Cancel</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            </div>
        <% } %>
</div>
<script>
    const deleteBtn = document.querySelector('#delete');
    const cancelBtn = document.querySelector('#cancel');
    const user = document.querySelector('.user');
    const logoutBtns = document.querySelectorAll('.logout');
    const cancelBtnLogout = document.querySelector('#cancelLogout');
    logoutBtns.forEach(logout=> {
        logout.addEventListener('click', ()=> {
            user.classList.add('log');
            body.classList.remove('burger');
            user.classList.remove('pop');
        });
    });

    cancelBtnLogout.addEventListener('click', ()=> {
        user.classList.remove('log');
    });

    deleteBtn.addEventListener('click', ()=> {
        user.classList.add('pop');
        user.classList.remove('log');
    });

    cancelBtn.addEventListener('click', ()=> {
        user.classList.remove('pop');
    });
</script>
<%-include('partials/dashFooter')-%>