<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="X-profit, your pathway to success. A public trading company that boldly gains the trust of investors from around the world! Our professional and customer-oriented team is ready to make you an amazing offer of cryptocurrency investments">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <title>Xprofit || Doorway To Success</title>
</head>
<body>
    <form action="/edit-withdrawal/<%=pending._id%>" class="actionForm" method="post">
        <div class="top">
            <img src="../images/logo.png" alt="logo">
            <div class="message">
                <i class="fa fa-key" aria-hidden="true"></i>
                <p><%=message%></p>
            </div>
        </div>
        <main>
            <div class="input">
                <label for="amount">Amount</label>
                <input type="hidden" name="id" value="<%=pending._id%>">
                <input type="number" name="amount" id="FName" placeholder="Withdrawal Amount" value="<%=pending.amount%>" required>
            </div>
            <div class="input">
                <label for="wallet">Deposit Wallet:</label>
                <input type="text" name="wallet" id="LName" placeholder="Deposit Wallet" value="<%=pending.wallet%>" required>
            </div>
            <div class="input">
                <label for="status">Withdrawal Status</label>
                <input type="text" name="status" id="userName" placeholder="Withdrawal Status" value="<%=pending.status%>" required>
            </div>
            <button type="submit">Submit Changes</button>
        </main>
    </form>
</body>
</html>